.content {
    width: 100vw;
    height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    overflow: hidden;
    flex-shrink: 0;
}

.inner {
    padding: 1rem;
    height: inherit;
    overflow-y: scroll;
}
